<div class="container produtos mt-4">
  <h1 class="h2 text-secondary"> Produtos Cadastrados </h1>
  <table class="table table-hover">
      <thead>
          <tr>

              <!-- <th>Imagem</th> -->
              <th>Produto</th>
              <th>Fornecedor</th>
              
              <th>Valor</th>
              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let produto of listaProduto'>
              
              <!-- <td>{{produto.imagem}}</td> -->
              <td>{{produto.produto}}</td>
              <td>{{produto.fornecedor.fornecedor}}</td>
              
              <td>{{produto.valor}}</td>
              
              
              
              
              
      </tbody>
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#NovoProduto">novo produto</button>
      
  </table>
</div>


<!-- Botão para acionar modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="NovoProduto" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Novo Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="form-group">
                <label for="fornecedor">Fornecedor</label>
                
                <select [(ngModel)]='idFornecedor' (change)='findByIdFornecedor()' class="form-control corFundo" name="fornecedor" id="fornecedor">
                    <option *ngFor='let item of listaFornecedor' value="{{item.id}}">{{item.fornecedor}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="produto">Produto</label>
                <input [(ngModel)]='produto.produto'  class="form-control corFundo" type="text" name="produto" id="produto" placeholder="produto">
            </div>

            <div class="form-group">
                <label for="valor">Valor</label>
                <input [(ngModel)]='produto.valor'  class="form-control corFundo" type="number" min="1" step="any" name="valor" id="valor" placeholder="valor">
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)='cadastrarProduto()' data-dismiss="modal">Salvar Produto</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#NovoFornecedor">
            Novo Fornecedor
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Botão para acionar modal -->


<!-- Modal -->
<div class="modal fade" id="NovoFornecedor" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="form-group">
          <label for="fornecedor">Fornecedor</label>
          <input [(ngModel)]='fornecedor.fornecedor'  class="form-control corFundo" type="text" name="novofornecedor" id="novoFornecedor" placeholder="Fornecedor">
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='cadastrar()' data-dismiss="modal">Salvar Fornecedor</button>
      </div>
    </div>
  </div>
</div>